/* src/components/MusicPlayer.css */
.music-player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 80; 
    overflow: hidden;
    z-index: 1000; 
    padding: 5px;
  }