/* src/components/MusicPlayer.css */
.music-player {
    position: fixed;
    padding: 5px;
    bottom: 20px;
    right: 20px;
    width: 320px;
    height: 80px; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #1e1e1e; 
    z-index: 1000; 
  }